name: build-image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write
    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
    steps:
      - uses: actions/checkout@v5
        name: Checkout
      - name: Install Cosign
        uses: sigstore/cosign-installer@v4.0.0
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: docker_meta
        uses: docker/metadata-action@v5.7.0
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME}}
          tags: type=sha,format=long
      - name: Build and push image
        id: push
        uses: docker/build-push-action@v5.0.0
        with:
          context: ./image
          push: true
          tags: ${{ steps.docker_meta.outputs.tags }}
      - name: Cosign sign image
        id: sign
        env:
          DIGEST: ${{ steps.push.outputs.digest }}
          TAGS: ${{ steps.docker_meta.outputs.tags }}
        run: |
          images=""
          for tag in ${TAGS}; do
            images+="${tag}@${DIGEST}"
          done
          cosign sign --yes ${images}
      - name: Attest image
        id: attest
        uses: actions/attest-build-provenance@v3
        with:
          subject-digest: ${{ steps.push.outputs.digest }}
          subject-name: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          push-to-registry: true





